In [1]:
import numpy as np
import pandas as pd

# Part 1: Get the dataset from Wikipedia and data clean-up

In [2]:
postal_code_df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [3]:
postal_code_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
print(len(postal_code_df))

288

In [5]:
postal_code_df=postal_code_df[postal_code_df['Borough'] != 'Not assigned']
postal_code_df.reset_index(drop=True, inplace=True)
postal_code_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [6]:
for index in range(len(postal_code_df)):
    if postal_code_df.iloc[index]['Neighbourhood'] == 'Not assigned':
        postal_code_df['Neighbourhood'][index] = postal_code_df['Borough'][index]

In [7]:
postal_code_df = postal_code_df.groupby("Postcode", as_index=False, sort=False).agg([('', ', '.join)])
postal_code_df.head()

                                     Borough                     Neighbourhood

Postcode
M3A                               North York                         Parkwoods
M4A                               North York                  Victoria Village
M5A       Downtown Toronto, Downtown Toronto         Harbourfront, Regent Park
M6A                   North York, North York  Lawrence Heights, Lawrence Manor
M7A                             Queen's Park                      Queen's Park

In [8]:
# Remove duplicate entries in the Borough coloumn.
for index in range(len(postal_code_df)):
    if len(postal_code_df['Borough'][index])>1:
        postal_code_df['Borough'][index] = postal_code_df['Borough'][index].split(',')[0]
postal_code_df = postal_code_df.reset_index()

/Users/pierrewuethrich/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
postal_code_df.head(15)

,Postcode,Borough,Neighbourhood
,,,
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
12,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
13,M3C,North York,"Flemingdon Park, Don Mills South"
14,M4C,East York,Woodbine Heights

In [10]:
postal_code_df.to_csv('./postal_dataset.csv')

In [11]:
postal_code_df.shape

(103, 3)